@model IEnumerable<EKBanaTest.Models.Employee>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">

<h1>Index</h1>
<style>
    table.dataTable thead th, table.dataTable thead td {
        padding: 10px 18px;
        border-bottom: 0px !important;
    }

    table.dataTable.no-footer {
        border-bottom: 0px !important;
        margin-bottom: 20px;
    }
</style>

<p>
    <a asp-action="Save" class="btn btn-info"><i class="fa fa-plus mr-2"></i>Create New</a>
</p>
<table class="table table-striped" id="EmployeeTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @(item.DateOfBirth.ToShortDateString())
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    <a asp-action="Save" asp-route-id="@item.Id"><i class="fa fa-pencil fa-lg text-success mx-1"></i></a>
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-eye fa-lg text-info mx-1"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete?')"><i class="fa fa-trash fa-lg text-danger mx-1"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>

<script>
    let table = $(`#EmployeeTable`).DataTable({
        "lengthMenu": [[5, 10, 25, -1], [5, 10, 25, "All"]],
        "searching": true,
        "info": true,
        columns: [
            null,
            null,
            null,
            null,
            { orderable: false }
        ],
        "pagingType": "simple_numbers"
    });
    $.fn.DataTable.ext.pager.numbers_length = 5;
    $('#myInput').on('keyup', function () {
        table.search(this.value).draw();
    });
</script>