@model IEnumerable<EKBanaTest.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Save" class="btn btn-info"><i class="fa fa-plus mr-2"></i>Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @(item.DateOfBirth.ToShortDateString())
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                <a asp-action="Save" asp-route-id="@item.Id"><i class="fa fa-pencil fa-lg text-success mx-1"></i></a> 
                <a asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-eye fa-lg text-info mx-1"></i></a> 
                <a asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete?')"><i class="fa fa-trash fa-lg text-danger mx-1"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
